
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  background-image: url(IMAGES/background.jpg);
  background-size: cover;       
  background-repeat: no-repeat;  
  background-position: center;   
  background-attachment: fixed;  
  margin: 0;
  padding: 0;
  color: #0c1db5;
  
}
/* Navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  background-color: #07739b6a;
  height: 60px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
}
.logo{
  width: 80px;
  height: 60px;
  border-radius: 50%;
  margin-left: 100px;
  opacity: 0.7;
}
ul{
  display: flex;
  gap: 30px;
  padding: 10px;
  margin-right: 400px;
}
.item {
  position:relative;
  list-style: none;
}

.item a {
  color: white;
  text-decoration: none;
  padding: 8px 12px;

}

.item a:hover {
  background-color:  #7fabee;
  border-radius: 5px;
}
.item .active{
    background-color: #ffffff;
    color: #0c1db5;
    border-radius: 8px;
}

/* Booking section */

.booking{
  max-width: 700px;
  margin : 100px 0 50px 50px;
  background: #07749b89;
  color: #ffffff;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 15px #04438633;
  font-size: 20px;
  opacity: 0.7;
  border: 3px solid #07749bd4;
}
.booking:hover{
  box-shadow: 10px 10px 15px #0978f03e;
}
.booking h2,h3 {
  text-align: center;
  margin-bottom: 20px;
  
}
.booking span{
    font-family: cursive;
}
.booking form input,
.booking form select,
.booking form button {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #118cbc;
  font-size: 16px;
  box-sizing: border-box;
}
.booking form label{
    display: block;
    margin-bottom: 15px;
}
.date{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.date div{
    width: 48%;
}
.booking form button {
  background-color: #016f97;
  color: white;
  border: none;
  font-weight: bold;
  transition: 0.3s;
}
.booking form button:hover {
  background-color: #40a6f3;
  cursor: pointer;
}
#confirmationMsg {
  position: fixed;
  bottom: 70%;
  left: 50%;
  padding: 15px;
  transform:translate(-50%,-50%);
  font-weight: bold;
  font-size: 20px;
  background-color: #ffffff;
  color:  #00aeee;
  border-radius: 10px;
  display: none;
  z-index: 1000;
  opacity: 1;
}
  /* footer */

.footer {
  background-color: #07749bb1;
  color: #ffffff;
  padding: 40px 0;
  text-align: center;
  font-family: 'Arial', sans-serif;
  margin-top: 10px;
}
.footer h2 {
  font-size: 30px;
  font-family: cursive;
  margin-bottom: 15px;
}
.footer-links {
  list-style: none;
  padding: 0;
  margin-left: 30%;
}
.footer-links li {
  display: inline;
  margin: 20px 40px;
}
.footer-links a {
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  transition: color 0.3s;
}
.footer-links a:hover {
  color: #0913a2;
}
.footer-socials svg {
  width: 24px;
  height: 24px;
  margin: 0 10px;
  vertical-align: middle;
  transition: transform 0.3s;
}
.footer-socials svg:hover {
  transform: scale(1.5);
}
.footer-socials a{
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
}
.footer-socials a:hover{
  color: #0913a2;
}
.footer p {
  margin-top: 20px;
  font-size: 15px;
  color: #ffffff;
}